html
    head
        style(type='text/css').
            body {
                margin: 0;
            }
    body 
        #container 
        script(type="module", src="/src/client/lib/ts/main.ts") 